@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');


/* Змінні */
:root{
    --font-roboto: 'Roboto', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;

    --font-comfortaa: 'Comfortaa', cursive;
    --font-style-normal: normal;
    --font-style-Italic:  Italic;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    font-size: 10px;
    --color-white:#ffffff;
    --color-F5F5F5:#F5F5F5;
    --color-FFBB00: #FFBB00;
    --color-F6AD09-btn: #F6AD09;
    --color-9C9C9C: #9C9C9C;
    --color-CCCCCC: #CCCCCC;
    --color-B2B2B2: #B2B2B2;
    --color-9b9595: #9b9595;
    --color-595959: #595959;
    --color-664400: #664400;
    --color-2E2E2E: #2E2E2E;
    --color-2c96ec: #2c96ec;
    --color-077ddd: #077ddd;
    --color-0be039: #0be039;
    --color-332200: #332200;
    --color-111111: #111111;
    --color-161616: #161616;
    --color-black:#000000;
}


/* Скидання дефолтних налаштуваннь. */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 скидання ролей дисплея для старих браузерів */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	border: none;
	outline: none;
}



/* Загальні стилі */
a{
    text-decoration: none;
    font-style: normal;
}
body{
    font-family: var(--font-roboto);
    width: 100%;
    font-size: 3rem;
}

.main-page{
    max-width: 140rem;
    min-height: 70rem ;
    margin: 0 auto;
    color: var(--color-white);
    background: url(../img/zvezdnoe-nebo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative;
}

/* Шапка. */
.header{
    padding: 1rem;
    background: #18181f7e;
    margin-bottom: 4rem;
}

.logo{
    width:7.5rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    margin-top: .1rem;
    margin-bottom: .1rem;
    margin-left: 8rem;
}
.logo img{
    width: 100%;
    display: block;
}
.header-nav{
    width: 95%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
}

/* Секція домашня робота. */
.homework-1{
    width: 90%;
    margin-left: auto;
    padding-right: 1rem;
}
.homework-1 h2{
    font-size: 2.7rem;
}
.homework-1 p{
    font-size: 2.3rem;
    margin-bottom: 4rem;
    width: 80%;
    margin: 4rem auto;
    margin: 4rem 2rem 4rem 12rem;
}

/* Секція домашня робота таблиця. */
table{
    width: 80%;
    margin: 0 auto;
    font-size: 2.3rem;
    margin-bottom: 7rem;
}
tbody{
    font-family: var(--font-comfortaa);
    font-size: 2.1rem;

}
thead,
tbody,
tr,
th,
td{
    border: 1px solid rgba(255, 255, 255, 0.527);
    text-align: center;
    padding: .6rem;
   
}

/* Секція домашня робота. side-panel-nav*/
.side-panel-nav{
    font-family:var(--font-open-sans);
    width: 6rem;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #242625;
    box-shadow: .1rem 0px 0px  #DEDEDE;
    padding: 2rem 2rem 10rem 2rem;
    z-index: 2;
    transition: all 1s;
    cursor: pointer;
}
.side-panel-nav-box{
    overflow: hidden; 
}

.side-header{
    display: flex;
    align-items: center;
    margin-bottom: 6rem;
}
.side-header-logo{
    font-weight: var(--font-weight-700);
    font-size: 1.6rem;
    color: var(--color-white);
    background: #A492FF;
    border-radius: .8rem;
    padding: 1.5rem;
}

.side-header-info{
    margin-left: 1rem;
    text-align: start;
    display: none;
}
.side-header-info > h2{
    font-weight: var(--font-weight-700);
    font-size: 1.6rem;
    margin-bottom: .5rem;
}
.side-header-info > a{
    transition: all .3s;
}
.side-header-info:hover > a{
    color: var(--color-white);
}

.side-panel-nav a,
.side-panel-nav p{
    font-weight: var(--font-weight-400);
    font-size: 1.4rem;
    color: #C0BFBD;
    display: none;
}

.side-search-box{
    display: flex;
    align-items: center;
    border-radius: .8rem;
    padding: 1.4rem 1.6rem;
    margin-bottom: 1.6rem;
    transition: all .3s;
}

.side-search-box:hover{
    background: #424444;
}
.search-icon{
    margin-right: 1rem;
}
.side-search-box > input{
    background: none;
    border: none;
    outline: 1px solid rgba(245, 222, 179, 0);
    font-weight: var(--font-weight-600);
    font-size: 1.6rem;
    color: #C0BFBD;
    display: none;
}

.side-nav-box{
    font-weight: var(--font-weight-600);
    font-size: 1.6rem;
    line-height: 140%;
    color: #C0BFBD;
    margin-bottom: 5rem;
}
.side-footer-item,
.nav-box-item{
    display: flex;
    align-items: center;
    border-radius: .8rem;
    padding: 1.4rem 1.6rem;
    margin-bottom: .5rem;
    transition: all .3s;
}

.side-footer-item-img,
.nav-box-item-img{
    margin-right: 1rem;
}

.side-footer-item-img{
    display: none;
}

/* Перемикач день ніч. */
.side-footer-btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    cursor: pointer;
    gap: 1ch;
}

.side-footer-btn__input{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.side-footer-btn__display {
    --offset: 0.25rem;
    --diameter: 1.7rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: content-box;
    width: calc(var(--diameter) * 2 + var(--offset) * 2);
    height: calc(var(--diameter) + var(--offset) * 2);
    position: relative;
    background: #424444;
    border: none;
    border-radius: 10rem;
    transition: 250ms;
}
.side-footer-btn__display::before {
    content: "";
    z-index: 2;
    position: absolute;
    top: 50%;
    left: var(--offset);
    box-sizing: border-box;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    background: #424444;
    transform: translate(0, -50%);
    will-change: transform;
    transition: inherit;
    transition: all .6s;
}


.side-panel-nav-btn{
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #A492FF;
    position: absolute;
    top: 3rem;
    right: -1rem;
}

/* Стрілочка */
.side-panel-nav-btn::after {
    width: 2rem;
    height: 2rem;
    background-image: url("../img/svg/Icon-arrow.svg");
    background-repeat: no-repeat;
    background-size: 1.8rem;
    transform: rotate(-180deg);
    content: "";
}

.side-panel-nav-btn:hover.side-panel-nav-btn::after {
    transform: rotate(0deg);
}

.side-footer-btn__input:checked + .side-footer-btn__display::before {
    transform: translate(100%, -50%);
    background: var(--color-white);
}
.side-footer-btn__input:checked + .side-footer-btn__display {
    background: var(--color-white);
    border: 1px solid var(--color-black);
}

.nav-box-item:hover{
    background: #424444; 
}
.side-panel-nav:focus,
.side-panel-nav:hover{
    width: 25rem;
}

.side-panel-nav:focus .hide,
.side-panel-nav:hover .hide{
    display: block;
}
.side-panel-nav:focus .side-footer-btn,
.side-panel-nav:hover .side-footer-btn{
    margin-left: 4rem;
}

/* Підвал. */

.footer{
    background: #18181f7e;
    padding: 4rem 4rem;
}
.footer-box{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 2rem;
}
.footer-box a{
    color: var(--color-white);
    font-size: 2rem;
}
.footer-box a:hover{
    color: rgb(247, 207, 207);
}