.error-page{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.664);
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-page__box{
    background: #fffdfd;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    border: 2px solid rgb(207, 7, 7);
}
.error-page__title{
    color: rgb(207, 7, 7);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
 
}
.error-page__btn{
    width: 60%;
    color: rgb(252, 252, 252);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 1rem;
    background: #299708;
    margin: 0 auto;
    padding: .6rem;
    border-radius: .5rem;
    transition: all .3s;
}
.error-page__btn:hover{
    background: #2da509;
}