.page__list{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.page__list-item{
    max-width: 24rem;
    min-width: 24rem;
    min-height: 12.5rem;
    border: 1px solid rgba(0, 0, 0, 0.333);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: .4rem;
    margin: .5rem;
    cursor: pointer;
    transition: all .3s;
}

.page__list-item:hover{
    box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.24), 0px 1px 1px rgba(0, 0, 0, 0.30), 0px 2px 1px rgba(0, 0, 0, 0.4);
}

.page__list-item__img{
    min-height: 24rem;
}

.page__list-item__img > img{
    display: block;
    width: 100%;
}

.page__list-item__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .6rem;
    min-height: 7rem;
}
.page__list-item__info-title{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: .5rem;
}
.page__list-item__info-text{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.7);

}