@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Roboto:wght@400;500;700&display=swap');
/* Змінні */
:root{
    --font-roboto: 'Roboto', sans-serif;
    --font-comfortaa: 'Comfortaa', cursive;
    --font-style-normal: normal;
    --font-style-Italic:  Italic;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
    font-size: 10px;
    --color-white:#ffffff;
    --color-F5F5F5:#F5F5F5;
    --color-FFBB00: #FFBB00;
    --color-F6AD09-btn: #F6AD09;
    --color-9C9C9C: #9C9C9C;
    --color-CCCCCC: #CCCCCC;
    --color-B2B2B2: #B2B2B2;
    --color-9b9595: #9b9595;
    --color-595959: #595959;
    --color-664400: #664400;
    --color-2E2E2E: #2E2E2E;
    --color-2c96ec: #2c96ec;
    --color-077ddd: #077ddd;
    --color-0be039: #0be039;
    --color-332200: #332200;
    --color-111111: #111111;
    --color-161616: #161616;
    --color-black:#000000;
}
/* Загальні стилі */
a{
    text-decoration: none;
    font-style: normal;
}
body{
    font-family: var(--font-roboto);
    width: 100%;
    font-size: 3rem;
}
.header{
    margin-bottom: 4rem;
}
.header-nav{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.main-page{
    max-width: 140rem;
    min-height: 100vh ;
    margin: 0 auto;
    color: var(--color-white);
    background: url(../img/zvezdnoe-nebo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.header{
    padding: 1rem;
    background: #18181fb2;
}

.logo{
    width:7.5rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 1px;
    margin-bottom: 1px;

}
.logo img{
    width: 100%;
    display: block;
}

.homework-1 h2{
    font-size: 2.7rem;
}
.homework-1 p{
    font-size: 2.3rem;
    margin-bottom: 4rem;
    width: 90%;
    margin: 4rem auto;

}


table{
    width: 90%;
    margin: 0 auto;
    font-size: 2.3rem;
    margin-bottom: 7rem;
}
tbody{
    font-family: var(--font-comfortaa);
    font-size: 2.1rem;

}
thead,
tbody,
tr,
th,
td{
    border: 1px solid rgba(255, 255, 255, 0.527);
    text-align: center;
    padding: .6rem;
   
}
.footer{
    background: #18181fc0;
    padding: 4rem 4rem;
    
}
.footer-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}
.footer-box a{
    color: var(--color-white);
    font-size: 2rem;
}
.footer-box a:hover{
    color: rgb(247, 207, 207);
}