.category-page__title{
    width: 90%;
    margin: 1rem auto;
    font-family: var(--font-karla);
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
}
.category-page__pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-btn{
    min-width: 9rem;
    font-family: var(--font-karla);
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgb(226, 226, 226);
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    margin: 2rem 15%;
    padding: .5rem;
    opacity: .7;
    transition: all .3s;
}
.pagination-btn:hover{
    opacity: 1;
}