.details-page{
    width: 80%;
    min-height: 60vh;
    margin: 0 auto;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.073);
    border-radius: .5rem;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.details-page_btn-back{
    font-size: 1.8rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.63);
    padding: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    transition: all .3s;
}
.details-page_btn-back:hover,
.details-page_btn-back:focus{
    color: rgb(0, 0, 0); 
}

.details-page__info-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
}


.info-box__title{
    font-family: var(--font-karla);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4;
    text-transform: capitalize;
}
.info-box__text{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: .2rem;
    text-transform: capitalize;
}
.info-box__text > span{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3;
}
.info-box__img{
    width: 40%;
    min-width: 25rem;
    margin-right: 3%;
    margin-bottom: 1rem;
    border-radius: .5rem;
}

.info-box__img.episodes{
    min-height: 40rem;
    background-image: url('../../img/Imax_format.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info-box__img.locations{
    min-height: 40rem;
    background-image: url('../../img/location.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info-box__img > img{
    display: block;
    width: 100%;
    border-radius: .5rem;
}
.info-box__linck{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: .2rem;
    text-decoration: underline;
    text-transform: capitalize;
    cursor: pointer;
}
.info-box__linck > span{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3;
    transition: all .3s;
}

.info-box__linck:hover{
    opacity: .6;
}
.info-box__list-title{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3;
    text-transform: capitalize;
}


.info-box__list{
    max-height: 18rem; 
    overflow-Y: auto;
    margin: .6rem;
}

.info-box__list-item{
    margin: .5rem;
    padding: .5rem;
    background-color: beige;
    border-radius: .3rem;
}