.main-page{
    width: 90%;
    min-height: 80vh;
    margin: 0 auto;
}
.main-page__img{
    width: 35%;
    margin: 0 auto;
}
.main-page__img > img{
    display: block;
    width: 100%;
}
.main-page__search{
    width: 40%;
    margin: 3rem auto;
    padding: 1rem 0 1rem 4%;
    background-color: rgba(182, 179, 179, 0.26);
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.459);
    position: relative;
}
.search-input{
    font-size: 1.6rem;
    padding: .6rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-right: .2rem;
    width: 85%;
    border: none;
    background: none;
}


.main-page__search::before{
    content: '';
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1rem;
    position: absolute;
    top: 26%;
    left: 3%;
    background-image: url('../../img/search-icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
}


.main-page__nav-list{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.main-page__nav-list__item{

    font-family: var(--font-karla);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 2%;
}
.linck-img-characters{
    width: 100%;
    height: 10rem;
    background-image: url('../../img/rick-and-morty-celebrity.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: .5rem;
}

.linck-img-locations{
    width: 100%;
    height: 10rem;
    background-image: url('../../img/location.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: .5rem;
}
.linck-img-episodes{
    width: 100%;
    height: 10rem;
    background-image: url('../../img/Imax_format.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: .5rem;
}

.main-page__nav-list__item > a{
    display: inline-block;
    background: rgb(230, 228, 228);
    width: 13rem;
    text-align: center;
    padding: .3rem;
    border: 1px solid black;
    border-radius: .5rem;

    color: rgb(3, 3, 3);
    text-transform: capitalize;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all .3s;
}

.main-page__nav-list__item > a:hover{
    box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.24), 0px 1px 1px rgba(0, 0, 0, 0.30), 0px 2px 1px rgba(0, 0, 0, 0.4);
}