
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.modal__img{
    width: 50%;
    margin: 2%;
    border-radius: .5rem;
}
.modal__img.episodes{
    min-height: 10rem;
    background-image: url('../../img/Imax_format.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.modal__img.locations{
    min-height: 10rem;
    background-image: url('../../img/location.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.modal__img > img{
    display: block;
    width: 100%;
    border-radius: .4rem;
}

.modal > div {
    background: white;
    padding: 3%;
    border-radius: .5rem;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__title {
    font-family: var(--font-karla);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4;
}

.modal__text {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4;
    text-transform: capitalize;
}

.modal__text>span {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3;
}