@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');


/* Змінні */
:root{
    --font-roboto: 'Roboto', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;
    --font-comfortaa: 'Comfortaa', cursive;
    --font-style-normal: normal;
    --font-style-Italic:  Italic;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    font-size: 10px;
    --color-white:#ffffff;
    --color-black:#000000;
    --background-header-footer: #1b1b1b83;
}


/* Скидання дефолтних налаштуваннь. */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 скидання ролей дисплея для старих браузерів */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	border: none;
	outline: none;
}
/* Загальні стилі */
a{
    text-decoration: none;
    font-style: normal;
}

body{
    font-family: var(--font-roboto);
    width: 100%;
    font-size: 3rem;
}

.main-page{
    max-width: 170rem;
    min-height: 70rem ;
    margin: 0 auto;
    background: url('../image/img-background/logotip.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

.header{
    background: var(--background-header-footer);
}
.header-nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.header-logo{
    display: inline-block;
    width: 8rem;
    border-radius: 2rem;
    overflow: hidden;
}
.header-logo > img{
    display: block;
    width: 100%;
}
.header-title{
    color: var(--color-white);
}

/* Секція домашня робота. */
.main-content{
    min-height: 95vh;
}

.homework{
    padding: 1rem;
}

.homework-title{
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
    color:var(--color-white);
}

.nav-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.nav-btn{
    font-family: var(--font-open-sans);
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 600;
    padding: .5rem;
    border: none;
    border-radius: .4rem;
    margin: .7rem;
    background: rgba(0, 0, 0, 0.11);
    color:var(--color-white);
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
}
.nav-btn:hover,
.nav-btn:focus{
    background: rgba(0, 0, 0, 0.548);
    transform: scale(1.1);
}

.homework-product-list{
    width:93%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/*  Карточки товару */
.product-cart{
    min-width: 35rem;
    max-width: 36rem;
    width: 30%;
    min-height: 50rem;
    background:var(--color-white);
    padding: 1rem;
    font-family: var(--font-comfortaa);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: .5rem;
    box-shadow: 0 0 5px var(--color-white);
    margin: .5rem;
    position: relative;
    transition: all .5s;
}
.product-cart:hover,
.product-cart:focus{
    transform: scale(1.06);
}

.product-cart_id{
    width: 100%;
    font-size: 1.5rem;
    text-align: end;
    margin-bottom: .5rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1;
}

.product-cart_img{
    height: 17.5rem;
    margin-bottom: .5rem;

}
.product-cart_img > img{
    display: block;
    max-height: 17.5rem;
}

.product-cart_category{  
    font-size: 1.6rem;
}
.product-cart_category > span{
    font-weight: 500;
    font-size: 1.7rem;
}

.product-cart_title{
    width: 95%;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
    text-align: center;
}

.product-cart_description-box{
    width: 95%;
    position: relative;
    height: 4rem;
}
.product-cart_description{
    font-size: 1.6rem;
    line-height: 1.3;
    max-height: 3.3rem;
    overflow: hidden;
    border-radius: .3rem;
    background: var(--color-white);
    padding: .8rem;
    cursor: pointer;
    transition: all 1s;
}
.product-cart_description:hover,
.product-cart_description:focus{
    max-height: 15rem;
    overflow: auto;
    background: rgb(240, 236, 236);
}

.product-cart_price{
    font-size: 1.6rem;
}
.product-cart_price > span{
    font-weight: 600;
}

.product-cart_rating{
    display: flex;
    gap: .5rem;
}

.product-cart_count{
    font-size: 1.5rem;
}

.error{
    width: 95%;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.2;
    text-align: center;
    color: var(--color-white);
}

/* Стилі footer */
.footer{
    font-size: 2rem;
    background-color: var(--background-header-footer);
    padding: 2rem;
}

.footer-box{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.footer-box > a{
    color: var(--color-white);
    transition: all .3s;
}
.footer-box > a:hover{
    color: rgb(212, 193, 193);
}

.footer-box-text{
    color: var(--color-white);
}

/* Стилі  loader*/
.loader-box{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background: #0000009f;
}
.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
}
.loader::after,
.loader::before {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border: 2px solid #fae424;
    position: absolute;
    left: 0;
    top: 0;
    animation: rotationBreak 3s ease-in-out infinite alternate;
}
.loader::after {
    border-color: #0059ff;
    animation-direction: alternate-reverse;
}

.hide{
    display: none;
}

@keyframes rotationBreak {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
      