.page{
    max-width: 144 rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    padding: .6rem 0;
    border-bottom: 1px solid rgba(112, 110, 110, 0.233);
}
.header__nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header__nav-logo{
    width: 3.3rem;
}
.header__nav-logo > img{
    display: block;
    width: 100%;
}

.header__nav-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header__nav-list__item{
    font-family: var(--font-karla);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.3;
    margin-left: 2.5rem;
    
}
.header__nav-list__item > a{
    color: rgb(51, 51, 51);
    text-transform: capitalize;
    transition: all .3s;
}
.header__nav-list__item > a:hover{
    color: rgb(3, 3, 3);
}


.footer{
    padding: 1rem;
}
.footer__nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(51, 51, 51);
}
.footer__nav > a{
    color: rgb(51, 51, 51);
    transition: all .3s;
}
.footer__nav > a:hover{
    color: rgb(3, 3, 3);
}